page-contact {
 .actualcombmenu{}
  .actualcombmenu .actualcombmenu-items{
    text-align:center; margin: auto;border-radius: 15px;font-size:0.8em;border:solid 1px rgba(13, 24, 23, 0.07);

  }
   .actualcombmenu .actualcombmenu-items:hover{
    background-color: red;color: white;
  }



}
