page-person-mycourse {
  .mycourse{
    margin-top: 2%;
    margin-left: 3%;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .label-md {

    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
