page-info{
  .video-section{
    font-size: 1.3rem;white-space: normal;color: #5a5b5b;
    margin-left:25px;margin-top:5%;;
  }
  .video-charpt{
    margin-top: 15px; margin-left:15px;color: #5a5b5b;white-space: normal;
  }
  .video-detail{
    font-size: 1.3rem;white-space: normal;color: #5a5b5b;
    margin-left: 15px;margin-top: 15px;line-height: 23px;
  }
  .question-index-write{
    background-color: rgb(251, 152, 39);
    color: rgb(245, 246, 237);
    padding: 6px;
    font-size: 0.6rem;
  }
  .question-index-res{
    margin-top: 12px;
    white-space: normal;
    font-size: 1.3rem;
  }
}
