page-createorder {
  .card{
    padding-left:12px;
    padding-right:12px;
    margin-top:20px;
  }
  .item-md{
    padding-left: 0px !important;
  }
  .bar-button-clear-md{
    vertical-align: middle;
    color: white;
  }
  .toolbar-md{
    padding:0px !important;
  }

}
